{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvenTrove || Password Mail Sent</title>
    {% tailwind_css %}
</head>
<body>
    <div class="parent w-screen h-screen flex justify-center items-center">
        <section class="box w-96 h-32 bg-slate-100 flex justify-center rounded-md shadow-md p-5">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <!-- <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company"> -->
                <h1 class="text-center text-3xl font-bold">InvenTrove</h1>
                <p class="text-xs mt-2 text-center">A password reset mail has been sent to the registred mail with instruction. Check you Email</p>
              </div>
        </section>
    </div>
</body>
</html>