{% load static %}
{% load static tailwind_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvenTrove | Client Book</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    {% tailwind_css %}
</head>
<body class="font-inter bg-[#F5F5F7] max-w-full h-[100%]">
<section class="sm:ml-56 px-6 pb-4 max-w-full min-h-[100%]">
    <div class="relative"> 
    {% include 'core/navigation.html' %}
    </div>
    <div class="flex justify-between w-full items-center sm:mt-12 mt-6">
        <div>
            <p class="font-inter font-semibold text-xl">வாடிக்கையாளர்கள்</p> 
        </div>
        <div class="items-center gap-4 hidden sm:flex">
            <p class="date">21,April,2024</p>
            <div class="w-8 h-8 bg-green-600 rounded-full items-center justify-center flex">
                <p class="text-slate-300">M</p>
            </div>
        </div>
    </div>
    <main class="mt-4 min-w-full h-full">
    <!-- Table -->
    <div class="flex justify-between mt-2 items-center gap-2 flex-wrap">
    <div class="flex gap-2">
        <a href="/addclient">
        <button class="px-2 py-2 bg-[#564AE4] flex items-center rounded-md gap-2 text-slate-50 text-sm">
            புதிய வாடிக்கையாளர்
            <img src="{% static  'images/Plus.svg' %}" alt="plus">
        </button>
        </a>
    </div>
    </div>
        <div class="relative max-w-[100%] min-h-full overflow-x-scroll mt-4 rounded-md bg-red-500">
            <table class="text-sm text-left min-h-full text-gray-500 bg-white dark:text-gray-400 rounded-md shadow-md overflow-x-auto w-full">
                <thead class="border-b text-xs text-gray-900 uppercase dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            வாடிக்கையாளர்
                        </th>
                        <th scope="col" class="px-6 py-3">
                            தொடர்பு எண்
                        </th>
                        <th scope="col" class="px-6 py-3">
                            முகவரி
                        </th>
                        <th scope="col" class="px-6 py-3">
                            கணக்குகள்
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in clients %}
                    <tr class="border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            <a href="{% url 'editcustomer' i.id%}" class="hover:underline">
                            {{i.clientname}}
                            </a>
                        </th>
                        <td class="px-6 py-4">
                            {{i.contactnumber}}
                        </td>
                        <td class="px-6 py-4">
                            {{i.address}}
                        </td>
                        <td class="px-6 py-4">
                            {{i.billcount}}
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</section>
<script>
    date = document.querySelector('.date')
        const dt = new Date().toDateString().split(' ')
        date.innerText = `${dt[2]},${dt[1]},${dt[3]}`
</script>
</body>
</html>