{% load static %}
{% load static tailwind_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvenTrove | Dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    {% tailwind_css %}
</head>
<body class="font-inter bg-[#F5F5F7] max-w-full">
<section class="sm:ml-56 px-6 pb-4 max-w-full">
    <!-- Navigation include -->
    <div class="relative"> 
    {% include 'core/navigation.html' %}
    </div>
    
    <!-- Header Component -->
    <div class="flex justify-between w-full items-center sm:mt-12 mt-6">
        <div>
            <p class="font-inter font-semibold text-xl">டாஷ்போர்டு</p> 
        </div>
        <div class="items-center gap-4 hidden sm:flex">
            <p class="date">21,April,2024</p>
            <div class="w-8 h-8 bg-green-600 rounded-full items-center justify-center flex">
                <p class="text-slate-300">M</p>
            </div>
        </div>
    </div>
    <main class="mt-4 min-w-full">
    <!-- Info Boxes -->
    <div class="infobox flex w-full gap-3 flex-wrap items-center">
        <a href="/stocks" class="w-[420px] max-h-[115px]">
        <div class="box max-w-full p-5 bg-gradient-to-r from-[#C9B4FD] to-[#EBE6FD] rounded-md hover:scale-105 transition duration-500">
            <p class="text-xs">மொத்த பொருட்கள்</p>
            <p class="text-2xl font-semibold">{{stockcount}}</p>
        </div>
        </a>
        
        <a href="/incomingstocks" class="w-[420px] max-h-[115px]">
        <div class="box max-w-full p-5 bg-gradient-to-r from-[#F6D0A4] to-[#FBEFDF] rounded-md hover:scale-105 transition duration-500">
            <p class="text-xs">உள்வரும் பொருட்கள்</p>
            <p class="text-2xl font-semibold">{{iccount}}</p>
        </div>
        </a>    

        <a href="/salarymanagement" class="w-[420px] max-h-[115px]">
        <div class="box max-w-full p-5 bg-gradient-to-r from-[#BEE6A1] to-[#E0F3D6] rounded-md hover:scale-105 transition duration-500">
            <p class="text-xs">சம்பளம் கணக்கீடு</p>
            <p class="text-2xl font-semibold">₹{{salarydue}}</p>
        </div>
        </a>

        <a href="/bills" class="w-[420px] max-h-[115px]">
        <div class="box max-w-full p-5 bg-gradient-to-r from-[#F9C6C8] to-[#FCDFE1] rounded-md hover:scale-105 transition duration-500">
            <p class="text-xs">நிலுவை பில்கள்</p>
            <p class="text-2xl font-semibold">{{billcount}}</p>
        </div>
        </a>
    </div>
    <!-- Table -->
    <div class="flex justify-between mt-6 items-center gap-2 flex-wrap">
    <p class="font-semibold text-xl underline">பகுப்பாய்வு</p>
    <div class="flex gap-2">
        <a href="/newbill">
        <button class="px-2 py-2 bg-[#564AE4] flex items-center rounded-md gap-2 text-slate-50 text-sm">
            புதிய ரசீது
            <img src="{% static  'images/Plus.svg' %}" alt="plus">
        </button>
        </a>
        <a href="/addstock">
        <button class="px-2 py-2 bg-[#4AE450] flex items-center rounded-md gap-2 text-slate-50 text-sm font-inter">
            பொருட்களை சேர்க்க
            <img src="{% static  'images/Plus.svg' %}" alt="plus">
        </button>
        </a>
    </div>
    </div>
        <div class="relative max-w-[100%] overflow-x-scroll mt-4 rounded-md">
            <table class="text-sm text-left rtl:text-right text-gray-500 bg-white dark:text-gray-400 rounded-md shadow-md overflow-x-auto w-full">
                <thead class="border-b text-xs text-gray-900 uppercase dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            பொருட்கள்
                        </th>
                        <th scope="col" class="px-6 py-3">
                            வகை
                        </th>
                        <th scope="col" class="px-6 py-3">
                            எண்ணிக்கை
                        </th>
                        <th scope="col" class="px-6 py-3">
                            விலை
                        </th>
                        <th scope="col" class="px-6 py-3">
                            நிலை
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in overviewdata %}
                    <tr class="border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            {{stock.productname}}
                        </th>
                        <td class="px-6 py-4">
                            {{stock.category}}
                        </td>
                        <td class="px-6 py-4">
                            {{stock.quantity}}
                        </td>
                        <td class="px-6 py-4">
                            {{stock.price}}
                        </td>
                        <td class="px-6 py-4">
                            {% if stock.quantity > 25 %}
                                <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-yellow-900 dark:text-yellow-300">
                                    In stock
                                </span>
                            {% else %}
                                <span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-yellow-900 dark:text-yellow-300">
                                    Running out
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
    <script>
        date = document.querySelector('.date')
        const dt = new Date().toDateString().split(' ')
        date.innerText = `${dt[2]},${dt[1]},${dt[3]}`
    </script>
</section>
</body>
</html>