{% load static %}
{% load static tailwind_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvenTrove | Edit Bill</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://printjs-4de6.kxcdn.com/print.min.css" rel="stylesheet">
    {% tailwind_css %}
</head>
<body class="font-inter bg-[#F5F5F7] max-w-full h-[100%]">
<section class="sm:ml-56 px-6 pb-4 max-w-full min-h-[100%]">
    <div class="relative"> 
    {% include 'core/navigation.html' %}
    </div>
    <div class="flex justify-between w-full items-center sm:mt-12 mt-6">
        <div id="toast-success" class="fixed toast right-0 top-0 z-10 hidden items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert" onload="toastMessage()">
            <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                </svg>
                <span class="sr-only">Check icon</span>
            </div>
            <div class="ms-3 text-sm font-normal response-txt">Bill generated successfully</div>
            <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
                <span class="sr-only">Close</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
            </button>
        </div>  

        <div>
            <p class="font-inter font-semibold text-xl billhead">ரசீது மாற்றம்</p> 
        </div>
    </div>
    <main class="mt-4 min-w-full h-full">
    <!-- Table -->
    <div class="flex justify-between mb-2 items-center gap-2 flex-wrap">
    <div class="flex gap-2">
        <a href="/newbill" class="px-2 py-2 bg-[#564AE4] flex items-center rounded-md gap-2 text-slate-50 text-sm">
            புதிய ரசீது
            <img src="{% static  'images/Plus.svg' %}" alt="plus">
        </a>
        <div class="items-center gap-4">
            <p class="date"></p>
            <a href="{% url 'print' bill.id%}" class="px-2 py-2 cursor-pointer bg-[#F77F00] flex items-center rounded-md gap-2 text-slate-50 text-sm">
                Print Bill
                <img src="{% static  'images/Printer.svg' %}" alt="plus">
            </a>
        </div>
    </div>
    </div>
    <form id="form" class="w-full h-full p-4 bg-white rounded-md shadow-md form" method="POST" autocomplete="off">
        <input type="hidden" name="hidden" class="hidden" autocomplete="false">
        {% csrf_token %}
        <!-- Customer name and email -->
        <div class="flex items-center justify-evenly gap-4 w-full lg:flex-nowrap flex-wrap">
            <div class="w-full">
                <label for="customer" class="block text-sm font-medium leading-6 text-gray-900">வாடிக்கையாளர் பெயர்</label>
                <div class="mt-1">
                  <input list="clients" id="customer" name="customer" autocomplete="off" type="text" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 customername">
                  <p class="customer_err text-xs text-red-600"></p>
                  <datalist id="clients" class="bg-gray-50  text-gray-900 text-sm rounded-lg flex flex-col ">
                    <option value="" class="hidden"></option>
                  </datalist>
                </div>
            </div>

        </div>
        <div class="w-full mt-4" id="items">
            <label for="items" class="block text-sm font-medium leading-6 text-gray-900 productlabel">பொருட்கள் சேர்</label>
            <div class="mt-1">
              <input id="items" list="products" name="items" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 products">
              <datalist id="products" class="bg-gray-50  text-gray-900 text-sm rounded-lg flex flex-col"></datalist>
              <p class="quantity_err text-xs text-red-500"></p>
            </div>
        </div>

        <!-- Billed items -->
        <div class="relative max-w-[100%] max-h-[500px] overflow-scroll mt-4 rounded-md bg-red-500">
            <table id="tabler" class="text-sm text-left min-h-full text-gray-500 bg-white dark:text-gray-400 rounded-md shadow-md overflow-x-auto w-full">
                <thead class="border-b text-xs text-gray-900 uppercase dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            #
                        </th>
                        <th scope="col" class="px-6 py-3">
                            பொருட்கள்
                        </th>
                        <th scope="col" class="px-6 py-3">
                            எண்ணிக்கை
                        </th>
                        <th scope="col" class="px-6 py-3">
                            கையிருப்பு	
                        </th>
                        <th scope="col" class="px-6 py-3">
                            விலை
                        </th>
                        <th scope="col" class="px-6 py-3">
                            வாடகை நாட்கள்
                        </th>
                    </tr>
                </thead>
                <tbody class="tablewrapper">
                </tbody>
            </table>
        </div>

        <!-- Discount -->
        <div class="w-full mt-6">
            <label for="discount" class="block text-sm font-medium leading-6 text-gray-900">தள்ளுபடி (in %)</label>
            <div class="mt-1">
              <input id="discount" name="discount" type="number"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>

         <!-- Vehicle Rent -->
         <div class="w-full mt-6">
            <label for="vehicle class="block text-sm font-medium leading-6 text-gray-900">வண்டி வாடகை</label>
            <div class="mt-1 flex">
              <input id="vehicle" name="vehiclerent" type="number"  class="vehiclerent block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
        <div class="mt-4 gap-3 flex flex-col">
            <p  class="text-xs subtotal">Subtotal: ₹0</p>
            <p class="text-sm discount">Discount: ₹0</p>
            <p class="text-lg font-semibold grandtotal">Grand Total: ₹0</p>
        </div>
        <div class="flex gap-2 mt-4 flex-wrap" id="ctagrp">
            <button data-status="false" class="px-2 py-2 bg-[#564AE4] flex items-center rounded-md gap-2 text-slate-50 text-sm genbill">
                மாற்றியமைக்க 
                <img src="{% static  'images/Plus.svg' %}" alt="plus">
            </button>
            <button data-status="arbitrary" class="px-2 py-2 bg-[#e7ba26] flex items-center rounded-md gap-2 text-slate-50 text-sm stockclose">
                பொருள் வருகை
                <img src="{% static  'images/istock.svg' %}" alt="plus">
            </button>
            <button data-status="true" class="px-2 py-2 bg-[#4FC354] flex items-center rounded-md gap-2 text-slate-50 text-sm closebill">
                கணக்கு முடிந்தது
                <img src="{% static  'images/done.svg' %}" alt="plus">
            </button>
        </div>
    </form>
    <p class="misc hidden">{{products}}</p>
    <p class="misc hidden">{{clients}}</p>
    <p class="misc hidden">{{items}}</p>
    <p class="misc hidden">{{customer}}</p>
    <p class="misc hidden">{{bill.billstatus}}</p>
    </main>
</section>
<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<script>
    //Raw Data
    const misc = document.querySelectorAll('.misc')
    const stockdata = JSON.parse(misc[0].innerHTML)
    const clientdata = JSON.parse(misc[1].innerHTML)
    const editinfo = JSON.parse(misc[2].innerHTML)
    const billstatus = misc[4].innerHTML

    //DOM Attributes
    const customer = document.querySelector('.customername')
    const datalist  = document.querySelector('#clients')
    
    const billhead = document.querySelector('.billhead')

    const product = document.querySelector('.products')
    const productlabel = document.querySelector('.productlabel')
    const prod_datalist  = document.querySelector('#products')
    const table  = document.querySelector('.tablewrapper')
    table.innerHTML = ''

    const vehiclerent = document.querySelector('.vehiclerent')

    const subtotal = document.querySelector('.subtotal')
    const discount_input = document.querySelector('#discount')
    let discount = document.querySelector('.discount')
    const grandtotal = document.querySelector('.grandtotal')

    const form = document.querySelector('.form')
    const genbill = document.querySelector('.genbill')
    const stockclose = document.querySelector('.stockclose')
    const closebill = document.querySelector('.closebill')
    genbill.addEventListener('click', formhandler)
    stockclose.addEventListener('click', formhandler)
    closebill.addEventListener('click', formhandler)

    const toast = document.querySelector('.toast')


    // DOM Error presenters
    const customer_err = document.querySelector('.customer_err')
    const quantity_err = document.querySelector('.quantity_err')

    //Internal tracking for autocompletion feature
    const trackset = new Set()

    // Price tracking collection
    const priceset = new Array()

    // Global declarations
    let subtotalvalue, grandtotalvalue, discountvalue, discountpercent;
    let payload =  []
    const beta_prods = ['PVC பந்தல்', 'Carpet (Flower Red)', 'Carpet (Red)', 'Carpet (Red)', 'Carpet (Green)']


    // **Main

    // Pre-Initializing form
    customer.value = misc[3].innerText

    editinfo.items.forEach(e=>
    {
        const product = _getproductinfo(e[0])
        
        const th = document.createElement('th')
        th.innerText = e[0]
        th.setAttribute('scope', 'row')
        th.setAttribute('class', 'px-6 py-4 font-medium text-gray-900 whitespace-nowrap')

        const tr = document.createElement('tr')
        tr.setAttribute('scope', 'row')
        tr.setAttribute('class', 'px-6 py-4 font-medium text-gray-900 whitespace-nowrap')

        // Remove Button
        const removebtn_row = document.createElement('td')
        const removebtn = document.createElement('img')
        removebtn.setAttribute('class', 'px-4 py-4')
        removebtn.setAttribute('src', '{% static "images/Remove.svg" %}')
        removebtn.style.cursor = 'pointer'
        removebtn.addEventListener('click', remove_prod)
        removebtn_row.append(removebtn)

        // Quantity Column
        const quantity_row = document.createElement('td')
        const quantity_input = document.createElement('input')
        quantity_input.value = e[1]
        quantity_input.setAttribute('class', 'flex text-center rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 products')
        quantity_input.addEventListener('input', _quantitypricing)

        quantity_row.setAttribute('class', 'flex items-center gap-2')
        quantity_row.append(quantity_input)

        // Measurement based billing
        if (beta_prods.includes(product.productname))
        {
            let measure_txt = document.createElement('p').innerText = 'Sqft'
            quantity_row.append(measure_txt)
        }

        // Available stock column
        const instock_row = document.createElement('td')
        const instock = document.createElement('p')
        instock.setAttribute('class', 'px-6 py-4')
        if (beta_prods.includes(product.productname))
        {
            instock.innerText = '-'
        }
        else
        {
            instock.innerText = product.quantity
        }

        instock_row.append(instock)
        
        // Pricing Column
        const price_row = document.createElement('td')
        const price = document.createElement('p')
        price.setAttribute('class', 'px-6 py-4')
        if (beta_prods.includes(product.productname))
        {
            price.innerText = product.price + '/sqft'
        }
        else
        {
            price.innerText = product.price
        }
        priceset.push([product.productname, product.price])
        price_row.append(price)

        // Date Rented
        const date_row = document.createElement('td')
        const date = document.createElement('input')
        date.value = e[2]
        date.setAttribute('class', 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 products')
        date.setAttribute('type', 'number')
        date.addEventListener('input', _DatewiseBilling)
    
        date_row.append(date)

        // Total Rented Days
        // const rdate_row = document.createElement('td')
        // const rdate = document.createElement('p')
        // rdate.innerText = e[2]
        // rdate.setAttribute('disabled', true)
        // rdate.setAttribute('class', 'px-6 py-4')

        // rdate_row.append(rdate)


        tr.append(removebtn_row)   
        tr.append(th)   
        tr.append(quantity_row)  
        tr.append(instock_row)
        tr.append(price)
        tr.append(date_row)
        // tr.append(rdate_row)

        
        table.append(tr)
        
        
        _updateprice()  
        // console.log(e)
        // console.log(priceset)
        _quantitypricing(null, product.productname, e[1])
        _DatewiseBilling(eventelement=null, x=e)

    })
    console.log(editinfo)
    // discount_percent = (editinfo.discount/editinfo.subtotal)*100
    discount_input.value = editinfo.discount
    vehiclerent.value = editinfo.vehiclerent
    vehicle_rent(vh=parseInt(editinfo.vehiclerent))
    // Since the stored data in DB is discount amount not percentage, we have to do below calculation   
    _updateprice(discountpercent=parseInt(editinfo.discount))

    // Managing Buttons
    if (billstatus === 'arbitrary')
    {
        stockclose.style.display = 'None'
    }
    else if (billstatus === 'closed')
    {
        product.style.display = 'None'
        productlabel.style.display  = 'None'
        genbill.style.display = 'None'
        stockclose.style.display = 'None'
        closebill.style.display = 'None'

        billhead.innerText = 'ரசீது மாற்றம் - Closed'
    }

    // Autocomplete for Customer Name Input
    customer.addEventListener('input', ()=>{
        clientdata.forEach(element => {
            if (element.clientname.toLowerCase().includes(customer.value.toLowerCase()) && !trackset.has(element.clientname)){

                        const option = document.createElement("option")
                        option.innerText = element.clientname
                        option.setAttribute('value', element.clientname)
                        option.setAttribute('class', 'px-4 py-2 border-b text-md')
                        option.addEventListener('click', changeInput)
                        datalist.append(option)
                        trackset.add(element.clientname)
            }
        });
        })
    function changeInput(e) {
        customer.value = e.target.value
        e.target.parentNode.innerHTML = ''
        trackset.clear()
    }

    // Autocomplete for Product Name Input
    product.addEventListener('input', ()=>{
        stockdata.forEach(element => {
            if (element.id.toString() === product.value && !trackset.has(element.productname)){
                        const option = document.createElement("option")
                        option.innerHTML = `<p>#${element.id}&nbsp&nbsp</p><p>${element.productname}</p>`
                        option.setAttribute('value', element.productname)
                        option.setAttribute('class', 'px-4 py-2 border-b')
                        option.addEventListener('click', changeInput_prod)
                        prod_datalist.append(option)
            }
        });
        if (product.value === '')
        {
            prod_datalist.innerHTML = ''
        }
        })

    // Handling Data table for billed items. Handles new product addition!

    function changeInput_prod(e) {
        trackset.add(e.target.value)
        product.value = e.target.value
        e.target.parentNode.innerHTML = ''

        const productobj = _getproductinfo(e.target.value)


        // Product name column
        const th = document.createElement('th')
        th.innerText = productobj.productname
        th.setAttribute('scope', 'row')
        th.setAttribute('class', 'px-6 py-4 font-medium text-gray-900 whitespace-nowrap')

        const tr = document.createElement('tr')
        tr.setAttribute('scope', 'row')
        tr.setAttribute('class', 'px-6 py-4 font-medium text-gray-900 whitespace-nowrap')

        // Remove Button
        const removebtn_row = document.createElement('td')
        const removebtn = document.createElement('img')
        removebtn.setAttribute('class', 'px-4 py-4')
        removebtn.setAttribute('src', '{% static "images/Remove.svg" %}')
        removebtn.style.cursor = 'pointer'
        removebtn.addEventListener('click', remove_prod)
        removebtn_row.append(removebtn)

        // Quantity Column
        const quantity_row = document.createElement('td')
        const quantity_input = document.createElement('input')
        quantity_input.value = '1'
        quantity_input.setAttribute('class', 'block text-center w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 products')
        quantity_input.setAttribute('placeholder', 'Quantity')
        quantity_input.setAttribute('type', 'number')
        quantity_input.addEventListener('input', _quantitypricing)
        
        quantity_row.setAttribute('class', 'flex items-center gap-2')
        quantity_row.append(quantity_input)

        // Measurement based billing products
        if (beta_prods.includes(productobj.productname)) //Change after stock entry!
        {
            let measure_txt = document.createElement('p').innerText = 'Sqft'
            quantity_row.append(measure_txt)
        }


        // Available stock column
        const instock_row = document.createElement('td')
        const instock = document.createElement('p')
        instock.setAttribute('class', 'px-6 py-4')
        if (beta_prods.includes(productobj.productname))
        {
            instock.innerText = '-'
        }
        else
        {
            instock.innerText = productobj.quantity
        }


        instock_row.append(instock)
        
        // Pricing Column
        const price_row = document.createElement('td')
        const price = document.createElement('p')
        price.setAttribute('class', 'px-6 py-4')
        // console.log("sdf", product)
        if (beta_prods.includes(product.productname))
        {
            price.innerText = productobj.price + '/sqft'
        }
        else
        {
            price.innerText = productobj.price
        }

        priceset.push([productobj.productname,productobj.price])

        price_row.append(price)

        //Rental Date Column
        
        const totaldays_row = document.createElement('td')
        const total_days = document.createElement('input')
        total_days.value = 1
        total_days.setAttribute('class', 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 products')
        total_days.setAttribute('type', 'number')
        total_days.setAttribute('value', 1)
        total_days.addEventListener('input', _DatewiseBilling)
    
        totaldays_row.append(total_days)

        tr.append(removebtn_row)   
        tr.append(th)   
        tr.append(quantity_row)  
        tr.append(instock_row)
        tr.append(price)
        tr.append(totaldays_row)
        
        table.append(tr)
        
        
        product.value = ''
        product.focus()
        _updateprice()
        //trackset.clear()

    }

    // Remove function for added products
    function remove_prod(e) {
        const product = _getproductinfo(e.target.parentNode.parentNode.childNodes[1].innerText)
        // console.log(product)
        priceset.forEach(i=>{
            let p_name = product.productname
            if (i[0] === p_name)
            {
                priceset.pop(i)
                trackset.delete(p_name)
            }
        })
        e.target.parentNode.parentNode.parentNode.removeChild(e.target.parentNode.parentNode)
       _updateprice()
    }

    //Pricing handler


        // Subtotal handlers
    function _updateprice(discountpercent=0) {
        
        subtotalvalue=0        
        priceset.forEach(e=>{
            subtotalvalue += e[1]
        })

        discountvalue = ((discountpercent/100) * subtotalvalue)
        grandtotalvalue = (subtotalvalue - (discountpercent/100) * subtotalvalue)

        subtotal.innerText = "கூட்டுத்தொகை: ₹" + subtotalvalue

        discount.innerText = "தள்ளுபடி "+ discountpercent +"%: ₹" + discountvalue.toFixed(1)

        grandtotal.innerText = "மொத்தம்: ₹" + grandtotalvalue

        discount = discount
    }

        //Vehicle Rent Handlers

        function vehicle_rent(vh)
        {
            priceset.push(['vehiclerent',vh])
            _updateprice()
        }

    vehiclerent.addEventListener('input', (f)=>{
        console.log(f.target.value)
        flag = false
        let intval = parseInt(f.target.value)
        priceset.forEach(e=>{
            if (e[0] == "vehiclerent")
            {   
                e[1] = (isNaN(intval)?0:intval)
                flag = true
            }
        })
        if (flag == false)
        {
            priceset.push(["vehiclerent", (isNaN(intval)?0:intval)])
        }
        vehiclerentvalue = intval
        // console.log(priceset)
        _updateprice(discountpercent=parseInt(discount_percent))
    })

    // Discount handlers
    discount_input.addEventListener('input', ()=>{
        _updateprice(discount_input.value)
    })
    
    // Form Submission Handlers

    function formhandler(e){
        e.preventDefault()
        _formvalidator(form)

        const Form = new FormData(form)
        const itemdata = new Array()
        // console.log("Billing", payload)
        payload = []
        table.childNodes.forEach(e=>{
            // console.log(e)
            payload.push([e.childNodes[1].innerText, e.childNodes[2].childNodes[0].value, e.childNodes[5].childNodes[0].value])
        })
        // console.log(e.target.dataset.status)
        // Appending data manually to post payload
        if (e.target.dataset.status === 'true')
        {
            Form.append("items", JSON.stringify(payload))
            Form.append("customer", customer.value)
            Form.append("billstatus", 'closed')
            Form.append("vehiclerent", vehiclerent.value)
            Form.append("discount", discountpercent)
            Form.append("subtotal", subtotalvalue)
            Form.append("grandtotal", grandtotalvalue)

            let response = fetch(document.location.origin+'/reviewbill/' + '{{bill.id}}/',{
                method: 'POST',
                body: Form
            })

            response.then(e=>{
                if (e.status == 200)
                {
                    toast.style.display = 'flex'
                    location.reload()
                }
                else
                {
                    toast.style.display = 'flex'
                    response_txt.innerText = 'Server Error!'
                }
            })
        }
        else
        {
            if (_formvalidator() === false) return;
            Form.append("items", JSON.stringify(payload))
            Form.append("customer", customer.value)
            if (e.target.dataset.status === 'arbitrary') Form.append("billstatus", 'arbitrary');
            else Form.append("billstatus", 'opened');
            Form.append("vehiclerent", vehiclerent.value)
            Form.append("discount", discountvalue)
            Form.append("subtotal", subtotalvalue)
            Form.append("grandtotal", grandtotalvalue)
            let response = fetch(document.location.origin+'/reviewbill/' + '{{bill.id}}/',{
                method: 'POST',
                body: Form
            })
            response.then(e=>{
                if (e.status == 200)
                {
                    toast.style.display = 'flex'
                    location.reload()
                }
                else
                {
                    toast.style.display = 'flex'
                    response_txt.innerText = 'Server Error!'
                }
            })
        }
    }

    // **Dependency functions
    function _getproductinfo(productname) {
        let found = null  
        for (let index = 0; index < stockdata.length; index++) {
            if (stockdata[index].productname === productname)
            {
                return stockdata[index]
            } 
        }
        return found
    }

    // Handles event listeners on quantity, removes pricing when arguments are present
    function _quantitypricing(e, productname=null, quantity=null) {
        if (productname!=null)
        {
            const prod = _getproductinfo(productname)
            priceset.forEach(i=>{
            if (i[0] === productname)
            {
                i[1] = (prod.price * quantity)
            }
        })
        }

        else
        {
            priceset.forEach(i=>{
            if (i[0] === e.target.parentNode.parentNode.childNodes[1].innerText)
            {
                const prod = _getproductinfo(i[0])
                i[1] = (prod.price*e.target.value)
            }
        })
        }
        _updateprice()
    }
    //priceset.push([product.productname,product.price]) will have product name and its sub total at that point
    function _DatewiseBilling(eventelement=null, x=null)
    {
        // console.log(eventelement, x)
        if (x != null)
        {
            // console.log("e1")
            priceset.forEach(element=>{
                if (element[0] === x[0])
                {
                    const actualprod = _getproductinfo(x[0])
                    element[1] = actualprod.price * x[1] * x[2]
                }
            })   
        }
        else
        {
            if (eventelement.target.value != '')            
            {
                priceset.forEach(i=>{
                    if (i[0] === eventelement.target.parentNode.parentNode.childNodes[1].innerText)
                    {
                        const prod = _getproductinfo(i[0])
                        // console.log("e2", prod.price, parseInt(eventelement.target.parentNode.parentNode.childNodes[2].childNodes[0].value), parseInt(eventelement.target.value))
                        if (parseInt(eventelement.target.value) != 0)
                        {   
                            // console.log(prod.price, parseInt(e.target.parentNode.parentNode.childNodes[2].childNodes[0].value), parseInt(e.target.value));
                            i[1] = prod.price * parseInt(eventelement.target.parentNode.parentNode.childNodes[2].childNodes[0].value) * parseInt(eventelement.target.value)
                        }
                    }
                })      
            }
        }
        _updateprice()
    }

    function _formvalidator() {
        if (customer.value === '')
        { 
            customer_err.innerText = 'Please fill out this field'
            return false
        }
        if (
        payload.forEach(e=>{
            if (e[1] > _getproductinfo(e[0]).quantity)
            {
                quantity_err.innerText = 'quantity exceeds available stock of ' + e[0]
                return false
            }
        }) === false)
        {
            return false
        }
        return true

    }

    function toDateInputValue(dateObject){
        const local = new Date(dateObject);
        local.setMinutes(dateObject.getMinutes() - dateObject.getTimezoneOffset());
        return local.toJSON().slice(0,10);
    };

    function getDate_Difference(olddate)
    {
        const currdate = new Date(toDateInputValue(new Date()))
        const _olddate = new Date(olddate)
        const timediff = Math.abs(currdate - _olddate)
        const resultant = Math.floor( timediff / (1000 * 60 * 60 * 24))
        if (resultant == 0)
        {
            return 1
        }
        return resultant
    }

    function printDocument()
    {
        printJS({
            printable: 'form',
            type: 'html',
            header: '<div style="display: flex; align-items: center; justify-content: space-between"><div><p><b style="font-size: 24px">ஸ்ரீ வெங்கடேஸ்வரா ஸ்டோர்ஸ்</b><br>பாத்திர வாடகைக்கடை, PVC பந்தல்<br>3/269A, தாராபுரம் ரோடு,<br>கொங்கல் நகரம் - 642 205</p><br></div><div><p>Bill No:112<br>Date: 11-05-2024</p></div></div>',
            headerStyle: 'font-size: 24px',
            ignoreElements: ['items','discount','ctagrp','removebtn'],
            style: '.grandtotal{font-size: 24px; font-weight: bold}'
        })
    }
</script>
</body>
</html>