{% load static %}
<button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar" aria-controls="sidebar-multi-level-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 absolute top-[-18px] right-0 navbutton">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
</button>

<aside id="sidebar-multi-level-sidebar" class="fixed top-0 left-0 z-40 w-56 h-screen transition-transform -translate-x-full sm:translate-x-0 navbar" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-[#FEFEFE] shadow-xl flex flex-col">
    <a href="/dashboard">
    <div class="flex gap-2 items-center mb-6 ">
        <img src="{% static 'images/logo1.svg' %}" class="max-w-[40px] drop-shadow-lg">
        <p class="text-2xl font-semibold">InvenTrove</p>
    </div>
    </a>

    <ul class="space-y-2 font-medium">
        <li>
            <a href="/dashboard" class="flex items-center p-2 text-gray-900 rounded-lgbg-gray-100 group hover:bg-gray-100">
                <img src="{% static 'images/Home.svg' %}" alt="">
                <span class="ms-3 text-xs">Dashboard</span>
            </a>
        </li>
        <li>
            <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                <img src="{% static 'images/Stack.svg' %}" alt="">
                <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap text-xs">Stocks</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg>
            </button>
            <ul id="dropdown-example" class="hidden py-2 space-y-2 transition duration-75 ">
                <li>
                    <a href="/stocks" class="flex items-center w-full p-2 text-gray-900 text-xs transition duration-75 rounded-lg pl-11 group hover:bg-gray-100">All stocks</a>
                </li>
                <li>
                    <a href="/addstocks" class="flex items-center w-full p-2 text-gray-900 text-xs transition duration-75 rounded-lg pl-11 group hover:bg-gray-100">Add stocks</a>
                </li>
                <li>
                    <a href="/incomingstocks" class="flex items-center w-full p-2 text-gray-900 text-xs transition duration-75 rounded-lg pl-11 group hover:bg-gray-100">Incoming stocks</a>
                </li>
                <!-- <li>
                    <a href="/outgoingstocks" class="flex items-center w-full p-2 text-gray-900 text-xs transition duration-75 rounded-lg pl-11 group hover:bg-gray-100">Outgoing stocks</a>
                </li> -->
                <li>
                    <a href="/damagedmaterials" class="flex items-center w-full p-2 text-gray-900 text-xs transition duration-75 rounded-lg pl-11 group hover:bg-gray-100">Damaged materials</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/bills" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                <img src="{% static 'images/Diamond.svg' %}" alt="">
                <span class="flex-1 ms-3 whitespace-nowrap text-xs">Billing</span>
            </a>
        </li>
        <li>
            <a href="/clientbook" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                <img src="{% static 'images/Invoice.svg' %}" alt="">
                <span class="flex-1 ms-3 whitespace-nowrap text-xs">Client book</span>
            </a>
        </li>
        <li>
            <a href="/laborbook " class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                <img src="{% static 'images/User-plus.svg' %}" alt="">
                <span class="flex-1 ms-3 whitespace-nowrap text-xs">Labor book</span>
            </a>
        </li>
        <li>
            <a href="/attendance" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                <img src="{% static 'images/Contacts.svg' %}" alt="">
                <span class="flex-1 ms-3 whitespace-nowrap text-xs">Attendance management</span>
            </a>
        </li>
        <li>
            <a href="/salarymanagement" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                <img src="{% static 'images/Bank.svg' %}" alt="">
                <span class="flex-1 ms-3 whitespace-nowrap text-xs">Salary management</span>
            </a>
        </li>
        <!-- <li>
            <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                <img src="{% static 'images/Settings-alt.svg' %}" alt="">
                <span class="flex-1 ms-3 whitespace-nowrap text-xs">Settings</span>
            </a>
        </li> -->
        <li>
            <a href="/auth/logout" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                <img src="{% static 'images/Logout.svg' %}" alt="">
                <span class="flex-1 ms-3 whitespace-nowrap text-xs">Logout</span>
            </a>
        </li>
    </ul>
    </div>
</aside>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>