{% load static %}
{% load static tailwind_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvenTrove | New Bill</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    {% tailwind_css %}
</head>
<body class="font-inter bg-[#F5F5F7] max-w-full h-[100%]">
<section class="sm:ml-56 px-6 pb-4 max-w-full min-h-[100%]">
    <div class="relative"> 
    {% include 'core/navigation.html' %}
    </div>
    <div class="flex justify-between w-full items-center sm:mt-12 mt-6">
        <div id="toast-success" class="absolute toast right-0 top-0 z-10 hidden items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert" onload="toastMessage()">
            <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                </svg>
                <span class="sr-only">Check icon</span>
            </div>
            <div class="ms-3 text-sm font-normal response-txt">Bill generated successfully</div>
            <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
                <span class="sr-only">Close</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
            </button>
        </div>  

        <div>
            <p class="font-inter font-semibold text-xl">ரசீது</p> 
        </div>
        <div class="items-center gap-4 hidden sm:flex">
            <p class="date"></p>
        </div>
    </div>
    <main class="mt-4 min-w-full h-full">
    <!-- Table -->
    <div class="flex justify-between mt-2 mb-2 items-center gap-2 flex-wrap">
    <div class="flex gap-2">
        <a href="/bills" class="px-2 py-2 bg-[#564AE4] flex items-center rounded-md gap-2 text-slate-50 text-sm">
            கணக்குகள்
            <img src="{% static  'images/Plus.svg' %}" alt="plus">
        </a>
    </div>
    </div>
    <form class="w-full h-full p-4 bg-white rounded-md shadow-md form" method="POST" autocomplete="off">
        <input type="text" name="hidden" class="hidden" autocomplete="false">
        {% csrf_token %}
        <!-- Customer name and email -->
        <div class="flex items-center justify-evenly gap-4 w-full lg:flex-nowrap flex-wrap">
            <div class="w-full">
                <label for="customer" class="block text-sm font-medium leading-6 text-gray-900">
                    வாடிக்கையாளர் பெயர்</label>
                <div class="mt-1">
                  <input list="clients" id="customer" name="customer" autocomplete="off" type="text" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 customername">
                  <p class="customer_err text-xs text-red-600"></p>
                  <datalist id="clients" class="bg-gray-50  text-gray-900 text-sm rounded-lg flex flex-col ">
                    <option value="" class="hidden"></option>
                  </datalist>
                </div>
            </div>

            <!-- <div class="w-full">
                <label for="date" class="block text-sm font-medium leading-6 text-gray-900">Sales date</label>
                <div class="mt-1">
                  <input id="date" name="date" type="date"  required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 date">
                </div>
            </div> -->
        </div>
        <div class="w-full mt-4">
            <label for="items" class="block text-sm font-medium leading-6 text-gray-900">பொருட்கள் சேர்</label>
            <div class="mt-1">
              <input id="items" list="products" autocomplete="off" name="items" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 products">
              <datalist id="products" class="bg-gray-50  text-gray-900 text-sm rounded-lg flex flex-col"></datalist>
                <p class="text-xs text-red-600 quantity_err"></p>
            </div>
        </div>

        <!-- Billed items -->
        <div class="relative max-w-[100%] min-h-full overflow-x-scroll mt-4 rounded-md">
            <table class="text-sm text-left min-h-full text-gray-500 bg-white dark:text-gray-400 rounded-md shadow-md overflow-x-auto w-full">
                <thead class="border-b text-xs text-gray-900 uppercase dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            #
                        </th>
                        <th scope="col" class="px-6 py-3">
                            அனைத்து பொருட்கள்
                        </th>
                        <th scope="col" class="px-6 py-3">
                            எண்ணிக்கை
                        </th>
                        <th scope="col" class="px-6 py-3">
                            கையிருப்பு
                        </th>
                        <th scope="col" class="px-6 py-3">
                            விலை
                        </th>
                        <th scope="col" class="px-6 py-3">
                            தேதி
                        </th>
                    </tr>
                </thead>
                <tbody class="tablewrapper">
                </tbody>
            </table>
        </div>

        <!-- Vehicle Rent -->
        <div class="w-full mt-6">
            <label for="vehicle class="block text-sm font-medium leading-6 text-gray-900">வண்டி வாடகை</label>
            <div class="mt-1 flex">
              <input id="vehicle" value="0" name="vehiclerent" type="number"  class="vehiclerent block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>

        <!-- Discount -->
        <div class="w-full mt-6">
            <label for="discount" class="block text-sm font-medium leading-6 text-gray-900">தள்ளுபடி (in %)</label>
            <div class="mt-1">
              <input id="discount" value="0" name="customer" type="number"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
        <div class="mt-4 gap-3 flex flex-col">
            <p  class="text-xs subtotal">கூட்டுத்தொகை: ₹0</p>
            <p class="text-sm discount">தள்ளுபடி: ₹0</p>
            <p class="text-lg font-semibold grandtotal">மொத்தம்: ₹0</p>
        </div>
        <div class="flex gap-2 mt-4">
            <button data-status="false" class="px-2 py-2 bg-[#564AE4] flex items-center rounded-md gap-2 text-slate-50 text-sm genbill">
                சேர்
                <img src="{% static  'images/Plus.svg' %}" alt="plus">
            </button>

            <button data-status="true" class="px-2 py-2 bg-[#4FC354] flex items-center rounded-md gap-2 text-slate-50 text-sm closebill hidden">
                பிரிண்ட்
                <img src="{% static  'images/Printer.svg' %}" alt="plus">
            </button>
        </div>
    </form>
    <p class="misc hidden">{{products}}</p>
    <p class="misc hidden">{{clients}}</p>
    <p class="misc hidden">{{error}}</p>
    </main>
</section>
<script>
    //Raw Data
    const misc = document.querySelectorAll('.misc')
    const stockdata = JSON.parse(misc[0].innerHTML)
    const clientdata = JSON.parse(misc[1].innerHTML)

    //DOM Attributes
    const customer = document.querySelector('.customername')
    const datalist  = document.querySelector('#clients')
    
    const product = document.querySelector('.products')
    const prod_datalist  = document.querySelector('#products')
    const table  = document.querySelector('.tablewrapper')
    table.innerHTML = ''

    const vehiclerent = document.querySelector('.vehiclerent')

    const subtotal = document.querySelector('.subtotal')
    const discount_input = document.querySelector('#discount')
    const discount = document.querySelector('.discount')
    const grandtotal = document.querySelector('.grandtotal')

    const form = document.querySelector('.form')
    const genbill = document.querySelector('.genbill')
    const closebill = document.querySelector('.closebill')

    const toast = document.querySelector('.toast')
    const response_txt = document.querySelector('.response-txt')
    
    genbill.addEventListener('click', formhandler)
    closebill.addEventListener('click', formhandler)

    // DOM Error presenters
    const customer_err = document.querySelector('.customer_err')
    const quantity_err = document.querySelector('.quantity_err')
    

    //Internal tracking for autocompletion feature
    const trackset = new Set()

    // Price tracking collection
    const priceset = new Array()

    // Global declarations
    let vehiclerentvalue, subtotalvalue, grandtotalvalue, discountvalue;
    const payload =  [];
    const beta_prods = ['PVC பந்தல்', 'Carpet (Flower Red)', 'Carpet (Red)', 'Carpet (Red)', 'Carpet (Green)']


    // **Main


    // Autocomplete for Customer Name Input
    customer.addEventListener('input', ()=>{
        clientdata.forEach(element => {
            if (element.clientname.toLowerCase().includes(customer.value.toLowerCase()) && !trackset.has(element.clientname)){

                        const option = document.createElement("option")
                        option.innerText = element.clientname
                        option.setAttribute('value', element.clientname)
                        option.setAttribute('class', 'px-4 py-2 border-b text-md')
                        option.addEventListener('click', changeInput)
                        datalist.append(option)
                        trackset.add(element.clientname)
            }
        });
        })
    function changeInput(e) {
        customer.value = e.target.value
        e.target.parentNode.innerHTML = ''
        trackset.clear()
    }

    // Autocomplete for Product Name Input
    product.addEventListener('input', ()=>{
        let option;
        stockdata.forEach(element => {
            //CORRECTION REMOVAL(17/5/2024: 6:25pm) - element.productname.toLowerCase().includes(product.value.toLowerCase()) && !trackset.has(element.productname)
            if (element.id.toString() === product.value && !trackset.has(element.productname)){
                        option = document.createElement("option")
                        option.innerHTML = `<p>#${element.id}&nbsp&nbsp</p><p>${element.productname}</p>`
                        option.setAttribute('value', element.productname)
                        option.setAttribute('class', 'px-4 py-2 border-b flex items-center justify-between')
                        option.addEventListener('click', changeInput_prod)
                        prod_datalist.append(option)
                        
            }
        });
        if (product.value === '')
        {
            prod_datalist.innerHTML = ''
        }
        })

    // Handling Data table for billed items
    function changeInput_prod(e) {
        product.value = e.target.value
        e.target.parentNode.innerHTML = ''
        trackset.add(e.target.value)
        const productobj = _getproductinfo(e.target.value)


        // Product name column
        const th = document.createElement('th')
        th.innerText = productobj.productname
        th.setAttribute('scope', 'row')
        th.setAttribute('class', 'px-6 py-4 font-medium text-gray-900 whitespace-nowrap')

        const tr = document.createElement('tr')
        tr.setAttribute('scope', 'row')
        tr.setAttribute('class', 'px-6 py-4 font-medium text-gray-900 whitespace-nowrap')

        // Remove Button
        const removebtn_row = document.createElement('td')
        const removebtn = document.createElement('img')
        removebtn.setAttribute('class', 'px-4 py-4')
        removebtn.setAttribute('src', '{% static "images/Remove.svg" %}')
        removebtn.style.cursor = 'pointer'
        removebtn.addEventListener('click', remove_prod)
        removebtn_row.append(removebtn)

        // Quantity Column
        const quantity_row = document.createElement('td')
        const quantity_input = document.createElement('input')
        quantity_input.value = '1'
        quantity_input.setAttribute('class', 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 products')
        quantity_input.setAttribute('placeholder', 'Quantity')
        quantity_input.setAttribute('type', 'number')
        quantity_input.setAttribute('min', '1')
        quantity_input.setAttribute('m', productobj.quantity)
        quantity_input.addEventListener('input', _quantitypricing)
        
        quantity_row.setAttribute('class', 'flex items-center gap-2')
        quantity_row.append(quantity_input)

        // Measurement based billing products
        console.log(beta_prods)
        if (beta_prods.includes(productobj.productname)) //Change after stock entry!
        {
            let measure_txt = document.createElement('p').innerText = 'Sqft'
            quantity_row.append(measure_txt)
        }


        // Available stock column
        const instock_row = document.createElement('td')
        const instock = document.createElement('p')
        instock.setAttribute('class', 'px-6 py-4')
        console.log("stockcol", beta_prods.includes(productobj.productname))
        if (beta_prods.includes(productobj.productname))
        {
            instock.innerText = '-'
        }
        else
        {
            instock.innerText = productobj.quantity
        }

        instock_row.append(instock)
        
        // Pricing Column
        const price_row = document.createElement('td')
        const price = document.createElement('p')
        price.setAttribute('class', 'px-6 py-4')
        if (beta_prods.includes(productobj.productname))
        {
            price.innerText = productobj.price + '/sqft'
        }
        else
        {
            price.innerText = productobj.price
        }
        priceset.push([productobj.productname,productobj.price])
        price_row.append(price)

        // Date Column
        const date_row = document.createElement('td')
        const date = document.createElement('input')
        date.value = toDateInputValue(new Date())
        console.log(toDateInputValue(new Date()))
        date.setAttribute('class', 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 products')
        date.setAttribute('type', 'date')
        date.setAttribute('value', toDateInputValue(new Date()))
    
        date_row.append(date)


        tr.append(removebtn_row)   
        tr.append(th)   
        tr.append(quantity_row)  
        tr.append(instock_row)
        tr.append(price)
        tr.append(date_row)
        
        table.append(tr)
        
        
        product.value = ''
        product.focus()
        _updateprice()
        //trackset.clear()

    }

    // Remove function for added products
    function remove_prod(e) {
        const product = _getproductinfo(e.target.parentNode.parentNode.childNodes[1].innerText)
        priceset.forEach(i=>{
            let p_name = product.productname
            if (i[0] === p_name)
            {
                priceset.pop(i)
                trackset.delete(p_name)
            }
        })
        e.target.parentNode.parentNode.parentNode.removeChild(e.target.parentNode.parentNode)
       _updateprice()
    }

    //Pricing handler

    // TODO!!! - Complete pricing updation w.r.t quantiy

        // Subtotal handlers
    function _updateprice(discountpercent=0) {
        subtotalvalue=0        
        priceset.forEach(e=>{
            subtotalvalue += e[1]
    })
        discountvalue = ((discountpercent/100) * subtotalvalue)
        grandtotalvalue = (subtotalvalue - (discountpercent/100) * subtotalvalue)

        subtotal.innerText = "கூட்டுத்தொகை: ₹" + subtotalvalue

        discount.innerText = "தள்ளுபடி "+ discountpercent +"%: ₹" + discountvalue

        // Calc_Grandtotal(grandtotalvalue)

        grandtotal.innerText = "மொத்தம்: ₹" + grandtotalvalue
    }

        // Discount handlers
    discount_input.addEventListener('input', ()=>{
        _updateprice(discount_input.value)
    })

        // Vehicle Rent Handlers
    vehiclerent.addEventListener('input', (f)=>{
        flag = false
        let intval = parseInt(f.target.value)
        console.log(intval, isNaN(intval))
        priceset.forEach(e=>{
            if (e[0] == "vehiclerent")
            {   
                e[1] = (isNaN(intval)?0:intval)
                flag = true
            }
        })
        if (flag == false)
        {
            priceset.push(["vehiclerent", (isNaN(intval)?0:intval)])
        }
        vehiclerentvalue = intval
        console.log('XXX', discount_input.value)
        _updateprice(discount_input.value)        
    })
    
    // Form Submission Handlers

    function formhandler(e){
        e.preventDefault()
        

        const Form = new FormData(form)
        const itemdata = new Array()
        table.childNodes.forEach(e=>{
            console.log([e.childNodes[1].innerText,e.childNodes[2].childNodes[0].value, e.childNodes[5].childNodes[0].value])
            payload.push([e.childNodes[1].innerText,e.childNodes[2].childNodes[0].value, e.childNodes[5].childNodes[0].value])
        })

        // Appending data manually to post payload
        if (_formvalidator() === false) return;
        else
        {   
            console.log(_formvalidator())
            Form.append("items", JSON.stringify(payload))
            Form.append("customer", customer.value)
            Form.append("billstatus", 'opened') //e.target.dataset.status
            Form.append("vehiclerent", vehiclerent.value)
            Form.append("discount", discount_input.value)
            Form.append("subtotal", subtotalvalue)
            Form.append("grandtotal", grandtotalvalue)

            // console.log(Form)
            let response = fetch(document.location.origin+'/newbill/',{
                method: 'POST',
                body: Form
            })
            response.then(e=>{
                if (e.status == 200)
                {
                    toast.style.display = 'flex'
                    location.reload()
                }
                else
                {
                    toast.style.display = 'flex'
                    response_txt.innerText = 'Server Error!'
                }
            })
        }
        // location.reload()
    }

    // **Dependency functions
    function _getproductinfo(productname) {
        let found = null  
        for (let index = 0; index < stockdata.length; index++) {
            if (stockdata[index].productname === productname)
            {
                return stockdata[index]
            } 
        }
        return found
    }

    // Handles event listeners on quantity, removes pricing when arguments are present
    function _quantitypricing(e, productname=null, quantity=null) {
        console.log(priceset)
        priceset.forEach(i=>{
            console.log('sdsd', e.target.parentNode.parentNode.childNodes[1].innerText)
            if (i[0] === e.target.parentNode.parentNode.childNodes[1].innerText)
            {
                console.log("inif", e.target.value)
                const prod = _getproductinfo(i[0])
                console.log(prod.price*e.target.value)
                i[1] = (prod.price*e.target.value)

            }
        })
        _updateprice()
    }

    function _formvalidator() {
        customer_err.innerText = ''
        quantity_err.innerText = ''
        if (customer.value === '')
        { 
            customer_err.innerText = 'Please fill out this field'
            return false
        }

        for (let index = 0; index < payload.length; index++) {
            if (payload[index][1] > _getproductinfo(payload[index][0]).quantity)
            {
                quantity_err.innerText = 'quantity exceeds available stock of ' + payload[index][0]
                payload.pop(payload[index])
                return false
            }
        }
        return true
    }

        // Date Formatter
    function toDateInputValue(dateObject){
    const local = new Date(dateObject);
    local.setMinutes(dateObject.getMinutes() - dateObject.getTimezoneOffset());
    return local.toJSON().slice(0,10);
    };

    // function Calc_Grandtotal(gtd)
    // {
    //     grandtotal.innerText = gtd + vehiclerent.value
    // }
</script>
</body>
</html>