{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Tiro+Tamil:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/print.css' %}">
</head>
<body>
    <!-- !Update for Measurement prompt for PVC Pandhal and carpet after stock entry -->
    <main> 
        <div class="header-logo">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </div>
        <div class="header">
            <div class="companydetails">
                <div class="header-cont">
                    <p class="tab cpname">
                        <b>ஸ்ரீ வெங்கடேஸ்வரா ஸ்டோர்ஸ்</b>
                    </p>
                    <p class="ta ctdt">
                        பாத்திர வாடகைக்கடை, PVC பந்தல்
                        <br>
                        3/269A, தாராபுரம் ரோடு,<br> கொங்கல் நகரம் - 642 205.
                    </p>
                </div>
            </div>
            <div class="billdetails">
                <p class="date">Date: 18/05/2024</p>
                <p>Bill No: {{bill.id}}</p>
            </div>
        </div>
        <div class="cstdt">
            <p class="tab chead">வாடிக்கையாளர்:</p>
            <p style="margin-top: 7px;">{{bill.client}}</p>
            <p>{{bill.client.address}}</p>
            <p>{{bill.client.contactnumber}}</p>
        </div>
        <br>
        <hr>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Rented days</th>
                    <th>Rate/Day</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody class="tbody">
            </tbody>
        </table>

        <table>
            <tr>
                <th colspan="3" style="text-align: center;">Payment Details</th>
            </tr>
            <tr>
                <td>Account Name</td>
                <td>SRI VENKATESHWARA STORES</td>
                <td rowspan="7">
                    <div class="gpayslot">
                        <img src="{% static 'images/gpay.jpg' %}" alt="" class="gpay">
                    </div>
                </td>    
            </tr>
            <tr>
                <td>Account Number</td>
                <td>0866073000000121</td>
            </tr>
            <tr>
                <td>IFSC</td>
                <td>SIBL0000866</td>
            </tr>
            <tr>
                <td>Bank Name</td>
                <td>South Indian Bank</td>
            </tr>
            <tr>
                <td>Branch Name</td>
                <td>KONGALNAGARAM</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Hari Krishnan</td>
            </tr>
            <tr>
                <td>Gpay number</td>
                <td>8438704784</td>
            </tr>
        </table>

        <!-- <div class="footer">
            <p>
            ஸ்ரீ வெங்கடேஸ்வரா ஸ்டோர்ஸ் || பாத்திர வாடகைக்கடை, PVC பந்தல் || 3/269A, தாராபுரம் ரோடு,
            கொங்கல் நகரம் - 642 205.
            </p>    
        </div> -->
    </main>
    <p class="bill hidden">{{bill.products}}</p>
    <p class="stocks hidden">{{stock}}</p>
    <script>
        const rawdata = document.querySelector(".bill").innerText
        const stockrawdata = document.querySelector(".stocks").innerText

        // const subtotal = document.querySelector('.subtotal')
        // const dsc = document.querySelector('.dsc')
        // const gdt = document.querySelector('.gdt')
        
        const tbody = document.querySelector(".tbody")

        const data = JSON.parse(rawdata)
        const stockdata = JSON.parse(stockrawdata)

        date = document.querySelector('.date')
        const dt = new Date().toDateString().split(' ')
        date.innerText = `${dt[2]},${dt[1]},${dt[3]}`
        let count = 1;

        data.items.forEach(item => {
            console.log(item)
            let stock;
            stockdata.forEach(s=>{
                if (s['productname'] === item[0])
                {
                    stock = s;
                }
            })
            // console.log(stock)
            let tr = document.createElement('tr')

            // Count
            let td0 = document.createElement('td')
            let p0 = document.createElement('p')
            p0.innerText = count
            td0.style.width = '5%'
            td0.append(p0)
            tr.append(td0)


            // Item Name
            let td1 = document.createElement('td')
            let p1 = document.createElement('p')
            p1.innerText = item[0]
            td1.append(p1)
            tr.append(td1)

            // Quantity
            let td2 = document.createElement('td')
            let p2 = document.createElement('p')
            p2.innerText = item[1]
            td2.append(p2)
            tr.append(td2)

            // Rented Days
            let td3 = document.createElement('td')
            let p3 = document.createElement('p')
            p3.innerText = item[2]
            td3.append(p3)
            tr.append(td3)


            // Rate
            let td4 = document.createElement('td')
            let p4 = document.createElement('p')
    
            p4.innerText = stock.price
            td4.append(p4)
            tr.append(td4)


            // Price
            let td5 = document.createElement('td')
            let p5 = document.createElement('p')
            p5.innerText = stock.price * item[2] * item[1]
            td5.append(p5)
            tr.append(td5)

            tbody.append(tr)
            count++
        });

        // Vehicle Rent
        let tr = document.createElement('tr')
        let td1 = document.createElement('td')
        let td0 = document.createElement('td')
        td0.setAttribute("colspan", "4")
        td0.setAttribute("class", "no-border")
        td1.setAttribute("colspan", "1")
        td1.style.textAlign = "right"
        // let td2 = document.createElement('td')
        // let td3 = document.createElement('td')
        // let td4 = document.createElement('td')
        // let td5 = document.createElement('td')
        let td6 = document.createElement('td')
        let p1 = document.createElement('p')
        let p4 = document.createElement('p')
        p1.innerHTML = "<b>வண்டி வாடகை</b>"
        p4.innerText = `₹${data.vehiclerent}`
        td1.append(p1)
        td6.append(p4)

        tr.append(td0, td1, td6)

        // Total
        let ttr1 =document.createElement('tr')
        let ttr2 =document.createElement('tr')
        let ttr3 =document.createElement('tr')

        let temp1 =document.createElement('td')
        temp1.setAttribute("colspan", "4")
        temp1.setAttribute("class", "no-border")

        let temp2 =document.createElement('td')
        temp2.setAttribute("colspan", "4")
        temp2.setAttribute("class", "no-border")

        let temp3 =document.createElement('td')
        temp3.setAttribute("colspan", "4")
        temp3.setAttribute("class", "no-border")

        // subtotal
        let ttd1 = document.createElement('td')
        ttd1.setAttribute("colspan", "1")
        ttd1.style.textAlign = "right"
        let ttdp1 = document.createElement('p')
        ttdp1.innerHTML = "<b>கூட்டுத்தொகை:"
        ttd1.append(ttdp1)

        let ttd2 = document.createElement('td')
        
        let subtotal = document.createElement('p').innerText = `₹${data.subtotal}`
        ttd2.append(subtotal)

        ttr1.append(temp1, ttd1, ttd2)

        //discount
        let ttd3 = document.createElement('td')
        ttd3.style.textAlign = "right"
        ttd3.setAttribute("colspan", "1")
        let ttdp3 = document.createElement('p')
        ttdp3.innerHTML = `<b>தள்ளுபடி: ${data.discount}%</b>`
        ttd3.append(ttdp3)

        let ttd4 = document.createElement('td')
        let dsc = document.createElement('p').innerText = `₹${(data.subtotal/100)*data.discount}`
        ttd4.append(dsc)

        ttr2.append(temp2, ttd3, ttd4)

        //grantotal
        let ttd5 = document.createElement('td')
        ttd5.style.textAlign = "right"
        ttd5.setAttribute("colspan", "1")
        let ttdp5 = document.createElement('p')
        ttdp5.innerHTML = "<b>மொத்தம்:</b>"
        ttd5.append(ttdp5)

        let ttd6 = document.createElement('td')
        let gdt = document.createElement('p').innerText = `₹${data.grandtotal}`
        ttd6.append(gdt)

        ttr3.append(temp3, ttd5, ttd6)






        tbody.append(tr, ttr1, ttr2, ttr3)

        // subtotal.innerText = data.subtotal
        // dsc.innerText = `தள்ளுபடி ${}% :` + ` ₹`
        // gdt.innerText = data.grandtotal

        // Dependancy Function
        function toDateInputValue(dateObject){
        const local = new Date(dateObject); 
        local.setMinutes(dateObject.getMinutes() - dateObject.getTimezoneOffset());
        return local.toJSON().slice(0,10);
        };

        function getDate_Difference(olddate)
        {
            const currdate = new Date(toDateInputValue(new Date()))
            const _olddate = new Date(olddate)
            // console.log(olddate, currdate)
            const timediff = Math.abs(currdate - _olddate)
            const resultant = Math.floor( timediff / (1000 * 60 * 60 * 24))
            if (resultant == 0)
            {
                return 1
            }
            return resultant
        }
        window.onload = ()=>{
            print(document)
        }
    </script>
</body>
</html>
