<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Print Receipt</title>
</head>
<body>
    <main class="parent" style="padding: 50px;">
        <div class="header" style="display: flex;">
            <div class="lhead">
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; line-height: 1px;">ஸ்ரீ வெங்கடேஸ்வரா ஸ்டோர்ஸ்</p>
                <p>பாத்திர வாடகைக்கடை, PVC பந்தல்</p>
            </div>
        </div>
    </main>
</body>
</html>