*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ta {
    font-family: "Tiro Tamil", serif;
    font-weight: 400;
    font-style: normal;
}
.tab {
    font-family: "Tiro Tamil", serif;
    font-weight: bold;
}
body
{
    padding: 10px;
    width: 100%;
}
main
{
    width: 100%;
    border: 1px solid black;
    position: relative;
    padding: 15px;
    overflow: hidden;
}
.companydetails
{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px
}
.header-logo > img
{
    max-width: 180px;
}
.header
{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cpname
{
    font-size: 16px;
}
.ctdt
{
    font-size: 13px;
}
.billdetails{
    font-family: "Noto Serif", serif;
    text-align: right;
    font-size: 16px;
}
.cstdt
{
    margin-top: 30px;
    font-family: "Noto Serif", serif;
}
.chead
{
    font-size: 18px;
}

.hidden
{
    display: none;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 25px;
  }
  th
  {
    background: #e4e4e4;
  }
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 6px;
  }
  
.total
{
    margin-top: 50px;
}
.dsc
{
    margin-top: 10px;
}
.gdt
{
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
}
.footer
{
    text-align: center;
    font-size: 14px;
    margin-top: 25px;
}
.no-border
{
    border: none;   
}
.gpayslot
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gpay
{
    max-width: 150px;
}